@CHARSET "UTF-8";
#message h1{
	height:35px;
	background:#ff6900;
	line-height:35px;
	font-size:16px;
	font-weight:normal;
	text-indent:30px;
}
#message form dl{
	margin:20px;
}
#message form dl dd{
	height:40px;
	position:relative;
}
#message form dl dd span{
	width:100px;
	text-align:right;
	display:inline-block;
}
#message form dl dd .text{
	width:220px;
	height:30px;
	border:1px solid #efefef;
	text-indent:8px;
}
#message form dl dd #submit{
	width:220px;
	height:40px;
	margin:10px 0 0 100px;
	font-size:18px;
}
#message form dl dd select{
	width:200px;
	height:30px;
}
#message form dl dd#describe{
	height:100px;
}
#message form dl dd#describe textarea{
	resize:none;
	height:80px;
	width:220px;
}