@CHARSET "UTF-8";
#seller-content{
	width:1000px;
	margin:40px auto;
}
#con-left{
	width:200px;
	float:left;
	border:1px solid #ddd;
	background:#fff;
}
#con-left #seller-face{
	margin:24px;
	width:150px;
	height:150px;
	border:1px solid #eee;
}
#con-left h1{
	height:35px;
	background:#ccc;
	text-indent:20px;
	line-height:35px;
	font-size:16px;
}
#con-left ul li{
	height:30px;
	text-indent:60px;
	line-height:30px;
	font-size:14px;
}
#con-left ul li a{
	display:block;
	height:30px;
	width:200px;
	color:#000;
}
#con-left ul li a:hover{
	background:#eee;
}


#con-right{
	border:1px solid #ddd;
	margin:0 0 0 20px;
	background:#fff;
	float:left;
	width:720px;
}
#con-right #imp-con{
	width:700px;
	margin:20px 0 20px 20px;
	height:110px;
}
#con-right #imp-con dl{
	width:218px;
	height:110px;
	margin:0 10px 0 0;
	float:left;
	border:1px solid #fff;
}
#con-right #imp-con dl#new-book,#con-right #imp-con dl#all-book{
	background:#7cbae5;
}
#con-right #imp-con dl#new-book:hover,#con-right #imp-con dl#all-book:hover{
	background:#73afd9;
}
#con-right #imp-con dl#all-discuss{
	background:#60d295;
}
#con-right #imp-con dl#all-discuss:hover{
	background:#58c88d;
}
#con-right #imp-con dl dt{
	margin:20px 0 0 0;
	font-size:40px;
	font-weight:bold;
	text-align:center;
	color:#fff;
}
#con-right #imp-con dl dd{
	font-size:18px;
	font-weight:bold;
	text-align:center;
	color:#fff;
}
#con-right #message{
	clear:both;
}
#message h1{
	font-size:20px;
	padding:10px 20px;
	background:#eee;
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
}
#message #seller-infomation dl{
	margin:20px 0 0 40px;
}
#message #seller-infomation dl dd{
	height:40px;
	line-height:40px;
	font-size:16px;
}
#message #seller-infomation dl dd span{
	display:inline-block;
	width:150px;
	text-align:right;
}
#message #seller-infomation dl dt{
	width:500px;
	font-size:16px;
	margin:10px  0 0 0;
}
#message #seller-infomation dl dt span{
	display:inline-block;
	width:150px;
	text-align:right;
}
#message #seller-infomation dl dt p{
	float:right;
	width:350px;
}
#message h2{
	height:20px;
	clear:both;
}