.slider-wrap {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.slider-list {
    display: -webkit-box;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.slider-item {
    width: 100%;
    list-style: none;
}

.slider-item a {
    display: block;
}

.slider-item img {
    width: 100%;
}

.transitionable {
    -webkit-transition: all 0.3s ease-in-out;
}

.slider-page {
    width: 100%;
    position: absolute;
    bottom: 5px;
    left: 0;
    text-align: center;
}

.slider-page ul {
    display: inline-block;
    text-align: center;
}

.slider-page ul li {
    display: inline-block;
    vertical-align: top;
    width: 6px;
    height: 6px;
    margin: 0 5px;
    border-radius: 50%;
    background: rgba(255, 255, 255, .5)
}

.slider-page ul li.active {
    background: #fff
}

.img-wrap {
    width: 100%;
    height: 100%;
    background: #fafafa url("../images/loading.gif") no-repeat center center;
}

.product-detail{
    font-size: .65rem;
}
.product-detail .product-title{
    padding: 0 5%;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: block;
    flex-basis: 1px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    overflow: hidden;
    -webkit-box-pack: center;
    line-height: 1.35em;
    height: 2.5em;
    font-size: 14px;
    color: #051B28;
}
.product-detail .product-price,
.product-detail .product-other
{
    margin: 0 5%;
    line-height: 1.35em;
    height: 2em;
}

.product-detail .product-price span{
    display: inline-block;
    width: 48%;
}
span b{
    color: #dd2727;
    font-size: .9rem;
}
.product-detail .product-other{
    color: #999;
    font-size: .45rem;
}